body {
    /* font-family: Arial; */
    padding-left: 2%;
    padding-right: 2%;
}
header {
    background-color: #c9c9c9;
    padding: 15px;
}
h1 {
    background-color: #bfed91;
    display: inline-block;
    padding: 10px;
}
  
nav ul li {
    margin-right: 85px;
    display: inline-block;
}
button:hover {
    cursor: pointer;
}
nav a {
    text-decoration: none;
    color: initial;
}
nav li a:hover {
    text-decoration: underline;
}
#topic ul {
    margin-bottom: 30px;
    margin-top: 30px;
}
#topic ul li {
    display: inline-block;
    margin-right: 85px;
    list-style-type: none;
}
.map {
    width: 85%;
    height: 400px;
    background-color: #ffccb4;
    margin: 0 auto;
}